body {
    background-color: #a8a4d7;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #212025;
    font-family: 'Yusei Magic', sans-serif;
    font-size: 18px;
}

a {
    color: #212025;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

main {
    background-color: #d3b3cd;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px #ff00f2;
}

/* HEADER */
img {
    width: 35%;
    border-radius: 50%;
    border: solid 2px black;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.titulos {
    margin-left: 3rem;
}

/* LINKS */
.link {
    display: block;
    color: #252525;
    background-color: #99ffcc;
    text-align: center;
    margin: 1rem 0rem 1rem 0rem;
    padding: 1rem 10rem;
    border-radius: 0.625rem;
    border: solid 2px #00ff80;
}

.link:hover {
    color:#d298c8 ;
    background-color: #252525;
}

/* SOCIAL */

.social {
    margin: 1rem;
    display: inline-block;
    display: flex;
}

.icones {
    font-size: 2rem;
} 

.icones:hover {
    font-size: 2.25rem;
    color: #443e3e;
}

li {
    margin: 0rem 0.5rem;
    padding: 0.5rem;
    list-style: none;
}